@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oxygen+Mono&family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oxygen Mono", monospace;
  background-color: #f3f3f3;
  user-select: none;
  --color-primary: #005EB8;
  --color-accent: #43C6F4;
  --base-size: 4rem;
}

#blazor-error-ui {
  background: var(--bs-danger);
  color: var(--bs-light);
  bottom: 0;
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#blazor-error-ui a {
  color: var(--bs-light);
  text-decoration: none;
}
#blazor-error-ui .reload {
  font-weight: 600;
}
#blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;
}

.svg-primary {
  fill: var(--color-primary);
}

.svg-accent {
  fill: var(--color-accent);
}

#svg-definitions {
  display: none;
}

.material-symbols-outlined {
  font-size: var(--base-size);
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
