@inherits LayoutComponentBase

<header>
  <svg id="logo-home" viewBox="0 0 512 512"  xml:space="preserve">
    <use xlink:href="#home" />
  </svg> 
  <h1>
    Home Sweet Home
  </h1>
</header>
<main>
    @Body
</main>