@page "/"
@using Synapse.Demo.WebUI.Pages.Monitoring.State
@inherits StatefulComponent<MonitoringState>

@if (devices != null) {
    <ul>
        @foreach (var device in devices) {
            <li><DeviceWidget Device="device" /></li>
        }
    </ul>
}

@code {
    protected Subject<bool>? disposeNotifier;
    protected IEnumerable<Device>? devices = null;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        this.disposeNotifier = new Subject<bool>();
        this.Feature
            .SelectDevices()
            .TakeUntil(this.disposeNotifier)
            .Subscribe(devices => {
                this.devices = devices;
                this.StateHasChanged();
            });
        this.Dispatcher.Dispatch(new InitializeState());
    }

    private bool disposed;
    protected override void Dispose(bool disposing)
    {
        if (!this.disposed)
        {
            if (this.disposeNotifier != null)
            {
                this.disposeNotifier.OnNext(true);
                this.disposeNotifier.OnCompleted();
                this.disposeNotifier.Dispose();
                this.disposeNotifier = null;
            }
            this.disposed = true;
        }
        base.Dispose(disposing);
    }
}
