@namespace Synapse.Demo.WebUI

@if (device !=  null) {
    <div class="device-widget">
        <h3>@device.Label</h3>
    </div>
}

@code {
    private Device device = null;
    [CascadingParameter] public Device Device { get; set; }
    private bool shouldRender = false;

    protected override void OnParametersSet()
    {
        if (this.device != this.Device)
        {
            this.device = this.Device;
            this.shouldRender = true;
        }
    }

    protected override bool ShouldRender()
    {
        if (!this.shouldRender) return false;
        this.shouldRender = false;
        return true;
    }
}
